<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <% for(var i = 0; i < sources.length; i++) { %>
      <div class = "news-source" id="source_<%=i %>">
      <h2> <%= sources[i].articles[0].source.name %> </h2>
      <% if(sources[i].articles !== null){ %>
        <% for( var j=0; j < sources[i].articles.length; j++) { %>
             <p>
                  <%= sources[i].articles[j].title %>
            </p>

            <% } %>
        <% } %>
        </div>
      <% } %>

  </body>
</html>
